*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
/sync/nbproject/private/
/sync/build/

\.idea/workspace\.xml
\.idea/


sync/classes/production/sync/jna-4\.1\.0\.jar
sync/classes/production/sync/jna-platform-4\.1\.0\.jar
sync/classes/production/sync/slf4j-api-1\.7\.25\.jar
sync/classes/production/sync/slf4j-nop-1\.7\.25\.jar
sync/classes/production/sync/vlcj-3\.10\.1\.jar
