*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
/sync/nbproject/private/
/sync/build/

launcherData\.dat
equalizer\.dat
tomcat/webapps/media/*

META-INF/*
\.idea/
sync/build\.xml
sync/sync\.iml
sync/manifest\.mf
