video::-webkit-media-controls-fullscreen-button {
    display: none;
}

video::-webkit-media-controls-download-button {
    display: none;
}

.userVideo::-webkit-media-controls-play-button {
    display: none;
}

.userVideo::-webkit-media-controls-timeline {
    display: none;
}
